@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    background-color: #000000;
    font-family: 'Lato', sans-serif;
   
}

.App{
  min-height: 100vh;
}

* {
    box-sizing: border-box;
}

/* index.css or App.css */
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }


  /* img, iframe, video {
    max-width: 100%;
    height: auto;
    display: block;
  } */
  

