#offer {
    background-image: url('../images/offer.png');
    color: white;
    text-align: center;
    padding: 200px 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  
}


#offer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
   
}


.offer-container {
    position: relative;
    z-index: 1;
    max-width: 600px;
    width: 90%;
    margin: auto;
}

.offer-container h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffcc00;
}

.offer-container h1 span {
    color: red;
}

.offer-details {
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.9;
}


.offer-btn {
    background: red;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    display: inline-block;
}

.offer-btn:hover {
    background: #ffcc00;
    color: black;
}


@media (max-width: 768px) {
    #offer {
        padding: 60px 15px; 
    }
    
    .offer-container h1 {
        font-size: 32px; 
    }

    .offer-details {
        font-size: 16px; 
    }

    .offer-btn {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .offer-container h1 {
        font-size: 28px; 
    }

    .offer-btn {
        font-size: 14px;
        padding: 8px 18px;
    }
}

